<form #registerForm="ngForm" (submit)="register($event)" (reset)="cancel($event)">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>

  <div class="form-group">
    <input #username="ngModel" name="username" type="text" required class="form-control" placeholder="Username" [(ngModel)]="model.username">
  </div>

  <div class="form-group">
    <input #password="ngModel" name="password" type="password" required class="form-control" placeholder="Password" [(ngModel)]="model.password">
  </div>

  <div class="form-group text-center">
    <button [disabled]="registerForm.invalid" class="btn btn-success" type="submit">Register</button>
    <button class="btn btn-default" type="reset">Cancel</button>
  </div>

</form>
