<div class="card">
  <div class="card-body">
    <div *ngIf="messages?.length === 0">
      <p>No messages yet... say hi my using the message box below</p>
    </div>
    <ul class="chat">
      <li *ngFor="let m of messages">
        <!-- to them  -->
        <div *ngIf="m.senderId === recipientId">
          <span class="chat-img float-left">
            <img [src]="m.senderPhotoUrl" [alt]="m.senderKnownAs" class="rounded-circle">
          </span>
          <div class="chat-body">
            <div class="header">
              <strong class="primary-font">{{ m.senderKnownAs }}</strong>
              <small class="text-muted float-right">
                <span class="fa fa-clock-o">{{ m.messageSent | timeAgo }}</span>
              </small>
            </div>
            <p>{{ m.content }}</p>
          </div>
        </div>

        <!-- to me -->
        <div *ngIf="m.senderId !== recipientId">
          <span class="chat-img float-right">
            <img [src]="m.senderPhotoUrl" [alt]="m.senderKnownAs" class="rounded-circle">
          </span>
          <div class="chat-body">
            <div class="header">
              <small class="text-muted">
                <span class="fa fa-clock-o">{{ m.messageSent | timeAgo }}</span>
                <span *ngIf="!m.isRead" class="text-danger">(unread)</span>
                <span *ngIf="m.isRead" class="text-success">(Read {{ m.dateRead | timeAgo }})</span>
              </small>
              <strong class="primary-font float-right">{{ m.senderKnownAs }}</strong>
            </div>
            <p>{{ m.content }}</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-footer">
    <form #form="ngForm" (submit)="sendMessage()">
      <div class="input-group">
        <input [(ngModel)]="newMessage.content" required name="content" type="text" class="form-control input-sm" placeholder="send a private message">
        <div class="input-group-append">
          <button [disabled]="form.invalid" class="btn btn-primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>
